{% extends 'nav.html' %}{% load static %}
{% block content %}
<section id="aboutme">
    <div class="bagian2 box" id="page1">
        <div class="container-fluid custom-container">
            <div class="row my-row">
                <div class="col-lg my-col judul">
                    <h1> This All About Me...</h1>
                </div>
            </div>
            <div class="row my-row">
                <div class="col-lg-4 my-col foto profil-cell">
                    <img src='{% static "img/Sean.jpg" %}' alt="">
                </div>
                <div class="col-lg-4 my-col deskripsi-cell" >
                    <div class="container">
                        <div class="row my-row">
                            <div class="col-lg my-col judul-desk-cell">
                                <h2>Short Story of me..</h2>
                            </div>
                        </div>
                        <div class="row-lg my-row">
                            <div class="col my-col isi-desk-cell">
                                <h4>My nickname is Sean, I am the type of person who has a high curiosity. Now I'm trying to enjoy my new passion, namely programming. I have no background in programming but I am starting to find out that this is fun.
                                <br>
                                <br>
                                I am interested in mobile app development.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-col deskripsi-cell">
                    <div class="container">
                            <div class="row my-row">
                                <div class="col-lg my-col judul-desk-cell">
                                    <h2>Short History of me..</h2>
                                </div>
                            </div>
                            <div class="row-lg my-row">
                            <div class="col my-col isi-desk-cell">
                                <h4>I was born in Bandung. Then I moved to the capital and lived with my father's family. I grew up there. then I went from elementary school to high school in South Tangerang. Then I entered the University of Indonesia in 2018.</h4>
                             </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="row my-row">
                <div class="col-lg-5 my-col pekerjaan-cell">
                    <h4>Computer Science Student at University of Indonesia</h4>
                </div>
            </div>      
        </div>
    </div>
</section>
{% endblock%}
