{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">

    <script src="{% static 'js/function.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Suggestion Form</title>
</head>
<body>
  <div class="saran center background">
    <div class="container form">
        <div class="row my-row justify-content-end">
            <div class="col-lg-2 my-col close-button">
                <a href="javascript:history.back()"><img src="https://img.icons8.com/plasticine/100/000000/close-window.png"></a>
            </div>
        </div>
        <div class="row my-row">
            <div class="col my-col center">
                <h2>Give me your opinion</h2>
                <br>
                <h5>This website still need an upgrade</h5>
            </div>
        </div>
        <div class="row my-row">
          <div class="col my-col center">
            <form action="">
                <label class="margin-custom"for="fname">First Name</label>
                <input class="margin-custom" type="text" id="fname" name="firstname" placeholder="Your name..">
                <label class="margin-custom" for="lname">Last Name</label>
                <input class="margin-custom" type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label class="margin-custom" for="country">Country</label>
                <select class="margin-custom" id="country" name="country">
                    <option value="australia">Indonesia</option>
                    <option value="canada">Europe</option>
                    <option value="usa">USA</option>
                    <option value="asia">Asia</option>
                </select>
                <label class="margin-custom" for="subject">Subject</label>
                <textarea class="margin-custom" id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input id="button-submit-id"class="button-submit margin-custom" type="reset" value="Submit">
            </form>
          </div>
        </div>
      </div>
  </div>
</body>
</html>