* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

/* 
    Bagian Navbar 
    Mulai
*/
.atasan {
    position: fixed;
    font-family: cursive;
    z-index: 3;
}

.atasan a {
    color: #d36135 !important;
}

.bg-custom  {
    background-color: rgb(255, 255, 255);
}

.custom-toggler.navbar-toggler {
    border-color: rgb(211, 97, 53);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 97, 53, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.warna {
    color: #d36135;
}

.border { 
    border-bottom: 3px solid #d36135 !important;
}

.nav-item a {
    width: 25%;
}
.nav-item a:hover {
    border-radius: 10px;
    width: 25%;
    text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.7);
    color: white !important;
    background-color: #d36135;

}
.collapse {
    z-index: 10;
}

/* 
    Selesai
*/

/* 
    Bagian Home
    mulai 
*/

.box {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #0f0a0a;
    padding-top: 70px;
}

.bagian1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100vw;
    height: 100%;
}

.bagian1 .img-container{
    background-image: url('/static/img/mockup-863469_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 1;
}


.konten-header div {
    position: relative;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    font-family: 'Vast Shadow', cursive;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}


.konten-header h1  {
    text-align: center;
    vertical-align: middle;
    font-size: 5vw;
    z-index: 2;
    color: white;
}

.konten-header h2  {
    text-align: center;
    vertical-align: middle;
    font-size: 4.5vw;
    z-index: 2;
    font-family: 'Titillium Web', sans-serif;
}

.jarak {
    padding-top: 10vw;
}

.konten-header {
    position: relative;
    height: 100vh; 
    z-index: 2; 
    background: rgb(0, 0, 0, 0.5); 
    /* top:76px;  */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
}

/* 
    Selesai
*/

/* 
    Bagian About Me
    Mulai
*/

.bagian2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: 2;
    color: #2af5ff;
    font-family: 'Titillium Web', sans-serif;
    
}

.bagian2 h4 {
    font-size: 1.7vw;
}

.bagian2 h2 {
    font-size: 2.5vw; 
}

.bagian2 .custom-container {
    width: 90vw;
}
.my-col {
    /* border: 1px solid red; */
    /* height: 250px; */
}

.my-row {
    /* border: 2px dotted blue; */

}

.judul {
    display: flex;
    /* flex-direction: column; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 10vw;
    justify-content: center;
    align-items: center;
}

.judul h1 {
    font-size: 5vw;
    text-shadow: 5px 5px 5px #ebb3a9;
    color: white;
}

.profil-cell {
    /* border: 1px solid red; */
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profil-cell img {
    border-radius:  10px;
    height: 25vw;
}

.deskripsi-cell {
    /* border: 1px solid red; */
    height: 30vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.judul-desk-cell {
    /* border: 1px solid red; */
    height: 5vw;
}

.judul-desk-cell h2 {
    border-bottom: 1px solid #d36135;
}

.isi-desk-cell {
    /* border: 1px solid red; */
    height: 25vw;
    color: white;
    text-align: justify;
}


.pekerjaan-cell {
    /* border: 1px solid red; */
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .bagian2 h4 {
        font-size: 2.5vw;
    }
    
    .bagian2 h2 {
        font-size: 3.5vw; 
    }

    .judul h1 {
        font-size: 6vw;
    }

    .profil-cell img {
        height: 30vw;
    }
}
/* 
    Selesai
*/

/* 
    Bagian Ability
    Mulai
*/
.bagian3 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: 2;
    color: #2af5ff;
    /* background-color: #ebb3a9; */
    font-family: 'Titillium Web', sans-serif;
}

.bagian3 .img-container {
    background-image: url('{% static "img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-width: 100vw;
    height: 100%;
    position: relative;
    z-index: 2;
}

.bagian3 .over-layer {
    padding: 70px;
    background-color: rgb(235, 179, 169, 0.3);
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

.bagian3 .judul h1 {
    color: #2af5ff;
    text-shadow: 5px 5px 5px black;
}

.center-element-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
}

.row{
    display:flex;
    align-items:center;
}

div.progress{
    margin:0;
    /* width: 100% */
}  

.bagian3 .container img {
    height: 7vw;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.bg-python {
    background-color: rgb(206, 206, 10); 
}

.bg-java {
    background-color: #f3831a;
}

.bg-css {
    background-color: rgb(36, 145, 255);
}

.border-row {
    border-left: #d36135 2px dotted;
}

.bagian3 .judul-desk-cell {
    height: 15vw;
    padding: 0 20px;
}

.bagian3 .judul-desk-cell h2 {
    font-size: 4.5vw;
    padding: 0 20px;
}

.bagian3 .isi-desk-cell {
    /* border: 1px solid red; */
    height: 22vw;
    color: white;
    text-align: justify;
}

.bagian3 .isi-desk-cell h4 {
    font-size: 1.9vw;
}

.bg-dark-50 {
    background-color: rgb(15, 10, 10, 0.3)
}

@media screen and (max-width: 991px) {
    .bagian3 .isi-desk-cell h4 {
        font-size: 3vw;
    }
    
    .bagian3 .judul-desk-cell h2 {
        font-size: 5.5vw; 
    }

    .bagian3 .bg-dark-50 {
        margin-top: 75px;
    }

    .bagian3 .judul h1 {
        font-size: 6vw;
    }

    .border-row {
        border-left: none;
    }
}

/* 
    Selesai
*/

/* 
    Bagian  Contact
    Mulai
*/
.bagian4 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: 2;
    color: #2af5ff;
    background-color: #ebb3a9;
    font-family: 'Titillium Web', sans-serif;
}

.bagian4 .bg-oren {
    background-color: #d36135; 
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bagian4 .bg-cream {
    background-color: #ebb3a9; 
    height: 100%;
    min-height: 100vh;
}

.bagian4 .judul-contact-cell h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon{
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item{
    
    /* padding: 1vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon img{
    height: 7vw;
}

.bagian4 .my-row {
    /* height: 5vw; */
    margin: 15px 0px;
}

.bagian4 .judul h1 {
    font-size: 7vw;
    text-shadow: 5px 5px 5px black;
}

.bagian4 .profil-cell img {
    height: 400px;
}


.bagian4 .margin-custom {
    margin-top: 25px;
}

.bagian4 a {
    text-decoration: none;
}

.tombol-saran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    text-align: center;
    border: #2af5ff 1px solid;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tombol-saran:hover {
    text-decoration: none;
    background-color: #2af5ff;
    color: white;
}

@media screen and (max-width: 991px) {
    .contact-icon{
        min-height: 30vw;
    }
}


/* 
    Selesai
*/

/* 
    Bagian experience
    Mulai
*/
.bagian5 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: 2;
    color: #2af5ff;
    font-family: 'Titillium Web', sans-serif;
    
}

.bg-biru {
    padding: 70px;
    background-color:rgb(42, 245, 255,0.5);
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

.container-fluid {
    margin-top: 75px; 
}

.bagian5 .judul h1 {
    margin-top: 50px; 
    font-size: 7vw;
    color: white;
    text-shadow: 5px 5px 5px black;
    
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.center img {
    border-radius: 25px;
    height: 11vw;
}

.center h2 {
    color: #d36135;
    height: 50px;
    font-size: 2.5vw;
    padding-top: 15px;
}

.center small {
    color: rgb(15, 10, 10, 0.5);
    font-size: 1.9vw;
    padding: 10px 0;
}

#experience .box {
    background-color: transparent;
}

@media screen and (max-width: 851px) {
    .center img {
        height: 13vw;
    }
    .center h2 {
        font-size: 3vw;
    }
    
    .center small {
        padding: 3px 0;
        font-size: 2.4vw;
    }
}


/* 
    Bagian Saran
    Mulai
*/

.close-button img {
    height: 60px;
    /* box-shadow: 4px 4px 5px grey; */
}

.close-button img:hover {
    height: 60px;
    box-shadow: 4px 4px 5px grey;
}

.saran {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    vertical-align: middle;
}

.saran h2 {
    font-size: 3vw;
}

.saran h5 {
    font-size: 1.6vw;
}

.saran label {
    font-size: 2.5vw;
    text-align: center;
    width: 45%;
    padding-right: 80px; 
    
}

.saran input {
    font-size: 2vw;
    text-align: left;
    width: 45%;
}

.saran select {
    font-size: 2vw;
    text-align: left;
    width: 45%;
    /* border: #2af5ff 1px solid; */
}

.saran textarea {
    font-size: 2vw;
    text-align: left;
    width: 45%;
    /* border: #2af5ff 1px solid; */
}

.saran .button-submit {
    font-size: 20px;
    width: 20%;
    text-align: center;
    background-color: #d36135;
    border-radius: 25px;
    color: white
}

.saran .button-submit:hover {
    background-color: white;
    border-radius: 25px;
    color: #d36135;

}

.form {
    border-radius: 5px;
    background-color: #ebb3a9;
    padding: 10px;
}

.margin-custom {
    margin: 10px 0;
    vertical-align: middle;
}

#button-submit-id {
    margin: 10px 0;
    width: 100%;
    
}

.background {
    background-color: rgb(15, 10, 10, 0.8); 
}

@media screen and (max-width: 991px) {
    .saran h2 {
        font-size: 30px;
    }
    
    .saran h5 {
        font-size: 16px;
    }

    .saran label {
        font-size: 22px;
    }
    
    .saran input {
        font-size: 22px;
    }
    
    .saran select {
        font-size: 22px;
    }
    
    .saran textarea {
        font-size: 22px;
    }
}
/* 
    Selesai
*/

.copyright {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    z-index: 2;
    color: white;
    background-color: #0f0a0a;
    font-family: 'Titillium Web', sans-serif;
}